@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

body{
    font-family: 'Courgette', cursive;
    text-align: center;
    background-image: url('img/blank-memo-notebook-pad-461435.jpg');
    color: yellow;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 0;
    width: 100%;
}

h1{
    margin-top: 1rem;
    padding: 1rem;
    text-shadow: 9px 7px 5px rgba(86, 10, 1, 0.938);
}
button{
    margin: 1rem;
}
footer{
    background-color: black;
    color: aliceblue;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

ul{
    text-align: left;
    color: rgb(15, 28, 141);
    font-weight: bolder;
    font-size: 1.8rem;
}

.container{
    margin: 0 auto;
    width: 100%;
}

#taskArea{
    background-color: aliceblue;
    width: fit-content;
    margin: 1rem;
    opacity: 0.8;
}

#date{
    margin-top: 17rem;
    color: rgb(15, 28, 141);
}

@media screen and (max-width: 556px) { /* Specific to this particular image */
    
    background-position: center top;
    background-size: 100% auto;

    footer{
        width: 100%;
        padding: 4rem;
        position: relative;
    }
    footer p{
        font-size: .8rem;
    }
    body{
        min-height: 100vh;
        position: relative;
    }
    #date{
        margin-top: 15rem;
        color: rgb(15, 28, 141);
    }
    
    
  }
  @media screen and (max-width: 800px){
    body{
        min-height: 100vh;
        position: relative;
    }
    #date{
        margin-top: 38rem;
        color: rgb(15, 28, 141);
    }
  }